<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let shoes of shoes">
    <a routerLink="/shoes/{{shoes.id}}">
      <img [src]="shoes.imageUrl" [alt]="shoes.name">
      <div class="content">
        <div class="name">
          {{shoes.name}}
        </div>
        <span class="{{shoes.favorite?'favorite':'Unliked'}}">
          ❤
        </span>
        <div class="stars">
            <star-rating
            [value]="shoes.stars"
            [totalstars]="5"
            checkedcolor="red"
            uncheckedcolor="black"
            size="22px"
            [readonly]="true">
          </star-rating>
        </div>
        <div class="product-item-footer">
          <div class="brand">
            <span>
              {{shoes.brand}}
            </span>
          </div>
        </div>
        <div class="price">
          <span>
            {{shoes.price | currency:'EUR':true}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
