<app-not-found
  [visible]="!shoes"
  notFoundMessage="Shoes not found ..."
  resetLinkText="Home">
</app-not-found>
<div *ngIf="shoes" class="container">
  <img [src]="shoes.imageUrl" [alt]="shoes.name">

  <div class="details">
    <div class="header">
      <span class="name">
        {{shoes.name}}
      </span>
      <span class="favorite {{shoes.favorite? '': 'not'}}">❤</span>
    </div>
      <div class="rating">
        <star-rating [stars]="shoes.stars" [size]="1.8" />
      </div>

      <div class="brand">
        <span>
          {{shoes.brand}}
        </span>
        <div class="size">
          <span>
            taille unique : {{shoes.size}}
          </span>
        </div>
      </div>
      <div class="tags">
        <a *ngFor="let tag of shoes.tags" routerLink="/tag/{{tag}}">
          {{tag}}
        </a>
      </div>
      <div class="price">
        <span>
          {{shoes.price | currency:'EUR':true}}
        </span>
      </div>
      <button (click)="addToCart()">BUY</button>
  </div>
</div>
