<header>
  <div class="container">
    <a routerLink="/" class="logo">WeThePast</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profil</a>
            <a routerLink="/orders">Commandes</a>
            <a (click)="logout()">Déconnection</a>
          </div>
        </li>
        <a routerLink="/cart-page">
          Panier <span *ngIf="cartQuantity">{{cartQuantity}}</span>
        </a>
      </ul>
    </nav>
  </div>
</header>
