<header>
  <div class="container">
    <a routerLink="/" class="logo">WeThePast</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login"><mat-icon>login</mat-icon></a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard"><mat-icon class="person">person</mat-icon></a>
          <div class="menu">
            <a routerLink="/profile" class="profile">{{user.name}}</a>
            <a routerLink="/orders">orders</a>
            <a (click)="logout()"><mat-icon>logout</mat-icon></a>
          </div>
        </li>
        <a *ngIf="isAuth" routerLink="/cart-page">
          <mat-icon class="cart">local_mall</mat-icon> <span *ngIf="cartQuantity">{{cartQuantity}}</span>
        </a>
      </ul>
    </nav>
  </div>
</header>
