<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email">
      </text-input>

      <div class="password-container">
        <text-input
          [control]="fc.password"
          [showErrorsWhen]="isSubmitted"
          [type]= "passwordVisible ? 'text' : 'password'"
          label="Password">
        </text-input>
        <button type="button" (click)="togglePasswordVisibility()" class="password-toggle">
          Show/Hide Password
        </button>
      </div>

      <default-button text="Login"></default-button>
      <div class="register">
        New ?? &nbsp;
        <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register</a>
      </div>
    </form>
  </div>
</div>
