<app-title title="Panier :" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="La page est vide !"
  resetLinkText="Retourner à la page d'accueil"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.shoes.imageUrl" [alt]="cartItem.shoes.name">
      </div>
      <div>
        <a routerLink="/shoes/{{cartItem.shoes.id}}">
          {{cartItem.shoes.name}}
        </a>
      </div>
      <div>
        <select #quantitySelect [value]="cartItem.quantity" (change)="changeQuantity(cartItem, quantitySelect.value)">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div>
      {{cartItem.price | currency:"EUR": true}}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          You don't want it anymore ?
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="shoes-count">{{cart.totalCount}}</div>
      <div class="total-price">{{cart.totalPrice | currency: "EUR" : true}}</div>
    </div>

    <a routerLink="/checkout">Sure ? Wan to check ?</a>
  </div>
</div>
