<div class="container">
  <div class="details">
    <app-title title="Register :"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Name">
      </text-input>

      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        label="Email">
      </text-input>

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        label="Password"
        [type]= "first? 'text' : 'password'">
      </text-input>
      <button type="button" (click)="togglePasswordVisibilityFirst()" class="password-toggle">
        👁️
      </button>

      <text-input
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted"
        label="Confirm Password"
        [type]= "second? 'text' : 'password'">
      </text-input>
      <button type="button" (click)="togglePasswordVisibilitySecond()" class="password-toggle">
        👁️
      </button>

      <text-input
      [control]="fc.address"
      [showErrorsWhen]="isSubmitted"
      label="Adresse">
    </text-input>

    <default-button text="Register"></default-button>

    <div class="login">
      Already have an account ? &nbsp;
      <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">Login</a>
    </div>

    </form>
  </div>
</div>
